#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 > #backgroundBox {
  background-color: #F8F8F8;
  position: absolute;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 > #alignmentBox {
  position: relative;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 {
  position: absolute;
  width: 125.4921875px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 {
  position: absolute;
  width: 125.4921875px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_6 {
  position: absolute;
  width: 77.74609374999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Image_1 {
  position: absolute;
  width: 208.94433593750136px;
  height: 62.62666130967045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 {
  position: absolute;
  width: 169.12597656250023px;
  min-height: 44.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 input::-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 input:-moz-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 input:-ms-input-placeholder {
  color: #82888C;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 .valign {
  vertical-align: middle;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_9 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_10 span {
  color: #35B736;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_11 {
  position: absolute;
  width: 301.1279296875001px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_11 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_12 span {
  color: #35B736;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_13 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_14 span {
  color: #35B736;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_15 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_16 span {
  color: #35B736;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_17 span {
  color: #E2202C;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-890f41e5-0e6e-4d84-b989-52e9bc5d4596 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}