#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 > #backgroundBox {
  position: absolute;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 > #alignmentBox {
  position: relative;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 {
  position: absolute;
  width: 493.9999999999998px;
  min-height: 220.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 2.0px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 2.0px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 2.0px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Image_1 {
  position: absolute;
  width: 103.73333333333335px;
  height: 84.52631578947376px;
  opacity: 0.34;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Image_2 {
  position: absolute;
  width: 54.00000000000001px;
  height: 66.99992370605469px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.25pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fb0c3370-a8b9-49d1-9135-0e68ab9f6f14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}